.navbar{
    background-color: white;
}


.navbar-nav{
    margin-left: auto;
    padding-right: 20px;
 
}
.navbar-brand{
    font-size: 1.25rem;
    font-weight: 800;
    color: black;
    cursor: pointer;
    text-decoration: none;
} 

.navbar-brand{
    padding-left: 70px;
}
.nav-link{
    color: black;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
}

.nav-link:hover{
    color: white;
    background-color: black;
    border-radius: 8px;
}